<!DOCTYPE html>
<html>
<head>
    <title>Create q</title>
</head>
<body>
    <form>
        <input placeholder="Vem Vare som sare saru?"></input>
        <textarea placeholder="Vad vare dom sa saru?"></textarea>
    </form>
</body>
</html>
